body {
      background-color: black;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.4jlQUhcheVGeqmwn65thVwHaEz%26pid%3DApi&f=1');
}
    h1 {
      color: white;
    }
  h3 {
      color: white;
    }
    p {
      color: white;
    }
    details{
      color: white;
    }
  figcaption{
    color: white;
  }
    button{
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
p {
  border: 5px black;
   margin: 50px;
}
a{
  color: white;
  text-decoration: none;
}
table, th, td{
      text-decoration-color: white;
      color:  white;
      border: 1px solid red;
      background-color: none;
      font-size: 50px;
      border-width: medium;
      border-color: red;
    }
    a{
      color: white;
      text-decoration: none;
    }